h1, h2, h3, h4, h5, h6, th {
    font-family: 'Nunito', sans-serif;
}
a, p, label, span, td {
    font-family: 'Oxygen', sans-serif;
}
table {
    &.table-hover {
        tbody{
            tr {
                &:hover {
                    td, th {
                        background-color: #E2FCFE;
                    }
                }
            }
        }
    }
}