.proyectos {
    .proyecto {
        border: 3px solid $color-2;
        border-radius: 10px;
        margin-bottom: 20px;
        .titulo {
            text-align: center;
            border-bottom: 3px solid $color-2;
            background-color: $color-2;
            padding: 10px 5px 5px 5px;
            label {
                margin: 0;
                color: $color-0;
            }
        }
        .objetivo {
            text-align: justify;
            padding: 10px;
            min-height: 150px;
        }
        .fecha {
            text-align: center;
            background-color: $color-1;
            p {
                margin: 0;
                color: $color-0;
            }
        }
        .acciones {
            text-align: center;
            padding: 5px;
        }
    }
}