.usuarios {
    table {
        thead {
            tr {
                th {
                    &.login {
                        width: 10%;
                    }
                    &.rol {
                        width: 10%;
                    }
                    &.acciones {
                        width: 30%;
                    }
                }
            }
        }
    }
}