@charset "UTF-8";
/*
Sistema de Monitoreo de proyectos para la Fundaci├│n Atica
*/
/* 
    Created on : 02-05-2017, 02:45:15 PM
    Author     : Jose
*/
h1, h2, h3, h4, h5, h6, th {
  font-family: 'Nunito', sans-serif; }

a, p, label, span, td {
  font-family: 'Oxygen', sans-serif; }

table.table-hover tbody tr:hover td, table.table-hover tbody tr:hover th {
  background-color: #E2FCFE; }

.proyectos .proyecto {
  border: 3px solid #3F51B5;
  border-radius: 10px;
  margin-bottom: 20px; }
  .proyectos .proyecto .titulo {
    text-align: center;
    border-bottom: 3px solid #3F51B5;
    background-color: #3F51B5;
    padding: 10px 5px 5px 5px; }
    .proyectos .proyecto .titulo label {
      margin: 0;
      color: #FFFFFF; }
  .proyectos .proyecto .objetivo {
    text-align: justify;
    padding: 10px;
    min-height: 150px; }
  .proyectos .proyecto .fecha {
    text-align: center;
    background-color: #009688; }
    .proyectos .proyecto .fecha p {
      margin: 0;
      color: #FFFFFF; }
  .proyectos .proyecto .acciones {
    text-align: center;
    padding: 5px; }

.marco-logico .btn {
  margin-bottom: 5px; }
.marco-logico table thead tr th.estado {
  width: 20%; }
.marco-logico table thead tr th.meta {
  width: 10%; }
.marco-logico table thead tr th.acciones {
  width: 5%; }
.marco-logico table thead tr th.porcentaje-asignado {
  width: 20%; }
.marco-logico table thead tr th.indicador-asociado {
  width: 30%; }
.marco-logico > .resultados > ol.lista-resultados {
  padding: 0;
  counter-reset: counter-resultados;
  list-style-type: none; }
  .marco-logico > .resultados > ol.lista-resultados > li {
    text-align: justify;
    counter-increment: counter-resultados; }
    .marco-logico > .resultados > ol.lista-resultados > li:before {
      content: counter(counter-resultados,decimal) ". ";
      font-size: 1.75em;
      font-weight: semibold; }
    .marco-logico > .resultados > ol.lista-resultados > li > h3 {
      display: inline; }
    .marco-logico > .resultados > ol.lista-resultados > li > ol.lista-efectos {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
      counter-reset: counter-efectos;
      list-style-type: none; }
      .marco-logico > .resultados > ol.lista-resultados > li > ol.lista-efectos > li {
        text-align: justify;
        counter-increment: counter-efectos; }
        .marco-logico > .resultados > ol.lista-resultados > li > ol.lista-efectos > li:before {
          content: "Efecto " counter(counter-efectos,decimal) ": ";
          font-weight: bold; }
        .marco-logico > .resultados > ol.lista-resultados > li > ol.lista-efectos > li > p {
          display: inline; }
.marco-logico > .resultados-clave > ol.lista-resultados {
  padding: 0;
  counter-reset: counter-resultados;
  list-style-type: none; }
  .marco-logico > .resultados-clave > ol.lista-resultados > li {
    text-align: justify;
    counter-increment: counter-resultados; }
    .marco-logico > .resultados-clave > ol.lista-resultados > li:before {
      content: counter(counter-resultados,decimal) ". ";
      font-size: 1.75em;
      font-weight: semibold; }
    .marco-logico > .resultados-clave > ol.lista-resultados > li > h3 {
      display: inline; }
    .marco-logico > .resultados-clave > ol.lista-resultados > li > ul.lista-resultados-clave {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
      list-style-type: disc; }
      .marco-logico > .resultados-clave > ol.lista-resultados > li > ul.lista-resultados-clave > li {
        text-align: justify; }
        .marco-logico > .resultados-clave > ol.lista-resultados > li > ul.lista-resultados-clave > li > p {
          display: inline; }
.marco-logico > .efectos > ol.lista-efectos {
  padding: 0;
  counter-reset: counter-efectos;
  list-style-type: none; }
  .marco-logico > .efectos > ol.lista-efectos > li {
    text-align: justify;
    counter-increment: counter-efectos; }
    .marco-logico > .efectos > ol.lista-efectos > li:before {
      content: "Efecto " counter(counter-efectos,decimal);
      font-size: 1.75em;
      font-weight: semibold; }
    .marco-logico > .efectos > ol.lista-efectos > li ol.lista-productos {
      counter-reset: counter-productos;
      list-style-type: none;
      margin-bottom: 1.5em; }
      .marco-logico > .efectos > ol.lista-efectos > li ol.lista-productos > li {
        text-align: justify;
        counter-increment: counter-productos; }
        .marco-logico > .efectos > ol.lista-efectos > li ol.lista-productos > li:before {
          content: "Producto " counter(counter-productos,decimal);
          font-size: 1.5em;
          font-weight: semibold; }

.actividades .btn {
  margin-bottom: 5px; }
.actividades ol.lista-actividades {
  padding: 0;
  counter-reset: counter-actividades;
  list-style-type: none; }
  .actividades ol.lista-actividades > li {
    text-align: justify;
    counter-increment: counter-actividades; }
    .actividades ol.lista-actividades > li:before {
      content: counter(counter-actividades,decimal) ". ";
      font-size: 1.75em;
      font-weight: semibold; }
    .actividades ol.lista-actividades > li > h3 {
      display: inline; }

.text-red {
  color: red; }

.login > .titulo {
  background-color: #009688;
  border-bottom: 30px solid #3F51B5;
  text-align: left; }
  .login > .titulo h1 {
    margin: 30px 0 20px 0;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif; }
.login > .ingreso {
  margin-top: 50px; }

.menu {
  background-color: #3F51B5;
  font-family: 'Nunito', sans-serif; }
  .menu ul.nav.navbar-nav li.separator {
    color: #FFFFFF; }
  .menu ul.nav.navbar-nav li a:hover {
    background-color: rgba(200, 200, 200, 0.3);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, transform 0.5s; }
  .menu ul.nav.navbar-nav li li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
    transition: background-color 0.5s, transform 0.5s; }

.personal table thead tr th.rol {
  width: 10%; }
.personal table thead tr th.acciones {
  width: 5%; }

.avances table thead tr th.fecha {
  width: 10%; }
.avances table thead tr th.cantidad {
  width: 10%; }
.avances table thead tr th.documentos {
  width: 30%; }

.usuarios table thead tr th.login {
  width: 15%; }
.usuarios table thead tr th.rol {
  width: 10%; }
.usuarios table thead tr th.acciones {
  width: 30%; }

/*# sourceMappingURL=monitoreo.css.map */
